.DS_Store
.Rproj.user
.Rhistory
Makefile
*.dll
*.exe
*.log
*.lp
*.o
*.so
*.test
*.tmp
*.vscode
include/armadillo*
*.gcda
*.gcno
*.gcov
*.dSYM
*.out

!docs/Makefile
docs/build
docs/xml

header_only_version
